#troll{
    height:300px;
    
}
body p{
    font-size:40px;
    
    font-family:cursive;
}
#wands{
    height:300px;
    
}
#quiddich
{
    height:300px;
    
}
#patronous
    {
    height:300px;
    
}
body{
  background:linear-gradient(aqua 0%,yellow 100%);
    text-align:center;
}
h1{
    font-family:fantasy;
    font-size:60px;
}